.btn{
  //width: 201px;
  //height: 54px;
  font-family: $ff;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: 0.42px;
  text-align: center;
  outline: none;
  padding: 13px 31px;
  border-radius:0px;
  border:1px solid  #b37931;
    text-align: center;
    color: #b37931;

  &:hover{
    background-color: #b37931;
    color: #fff;
    border-color: #b37931;
  }

  &-fill{
    background-color: #d8b283;
    color: #231f20;
    border-color: #d8b283;
    @include transtion();
    &:hover{
      background: #edc594;
      color: #231f20!important;
      border:1px solid #edc594;
    }
  }

  &-white{
    background: #b37931!important;
    color: #fff!important;

    &:hover{
      background-color: #d89747!important;
      color: #fff!important;
      border-color: #d89747;
    }
  }

  &-fluid{
    width: 100%;
  }

  //&-book{
  //  background: #b37931!important;
  //  color: #fff!important;
  //}
}

.trg{
  @include triangle(#d8b283, 'down');
  display: inline-block !important;
  position: relative;
  //top: 13px;
}