.footer{
  background: #231f20;
  padding-top: 72px;
  padding-bottom: 72px;

  @include max-screen(991px){
    padding-left: 13px;
    padding-right: 13px;
  }

  &--logo{
    display: block;
    margin-bottom: 25px;
  }

  &--copyright{
      opacity: 0.4;
      font-family: $ff;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: 0.32px;
      color: #ffffff;
    a{
      color: #fff;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
        color: #d8b283;
        opacity: 1!important;
      }
    }
  }
  
  &--menu{
      padding: 0;
      margin: 0;
      padding-top: 20px;

    li{
      display: block;
      padding: 0;
      margin-bottom: 16px;

    }
    li, a{
      font-family: $ff;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.37px;
      color: #ffffff;
      @include transtion();
    }
    a{
      &:hover{
        color: #d8b283;
        text-decoration: none;
      }
    }
  }

  &--social{
    margin-bottom: 30px;
    padding-top: 20px;
      opacity: 0.4;
      font-family: $ff;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.58;
      letter-spacing: 0.32px;
      color: #ffffff;

  }
}

.social{
  &--box{
    display: flex;
    justify-content: space-between;
  }
  &--link{
    opacity: 1;
    @include transtion();
    svg{
      path{
        opacity: 1;
        @include transtion();
        fill:#FEFEFE;
      }
    }

    &:hover{
      opacity: 1;
      svg{
        path{
          fill:#d8b283;
          opacity: 1;
        }
      }
    }
  }
}

.contacts{

  &--map{
    width: 100%;
    height: 100%;
    //background-color:red;
    min-height: 500px;

    ymaps {

      -webkit-filter: grayscale(100%);

    }
  }

  &--box{
    background: #231f20;
  }
  &--info{

    padding-top: 60px;
    padding-left: 80px;
    //padding-right: 80px;
    @include max-screen(991px){
      padding-left: 27px;
    }
  }

  &--preheader{
    font-family: $ff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.42px;
    color: #d8b283;
    margin-bottom: 15px;
    @include max-screen(991px){

      font-size: 14px;
    }
  }
  &--header{
    font-family: $fn;
    font-size: 46px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    color: #ffffff;
    @include max-screen(991px){
      font-size: 27px;
    }
  }
  &--address{
    font-family: $ff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    letter-spacing: 0.42px;
    color: #ffffff;
    border-top: solid 1px #d8b283;
    border-bottom: solid 1px #d8b283;
    padding-left: 80px;
    padding-top: 35px;
    padding-bottom: 40px;
    margin-top: 65px;
    @include max-screen(991px){
      padding-left: 27px;
      font-size: 14px;
    }
    
    a{
      color: #fff;
      text-decoration: none;
      @include transtion();
      &:hover{
        color: #d8b283;
      }
    }

    p{
      margin-bottom: 0;
    }

  }
}


.modal-book{

  .modal-dialog{
    //padding-left: 100px;

  }
  .modal-header{
    border-radius: 0;
    //background-color: #000;
  }

  &--header{
    background-color: #231f20;
    @extend .box-block;
    padding-left: 135px;
    padding-bottom: 55px;

    @include max-screen(1199px){
      padding-left: 27px!important;
      padding-right: 27px;
    }

    h2{
      color: #fff!important;
      margin-bottom: 40px!important;
    }

    &-light{
      background-color: #fff!important;
      .modal-book--subtitle{
        color: #231f20!important;
        max-width: 502px;
      }
      h2{
        color: #b37931!important;
      }
    }
  }

  &--thx{
    background: #fbfaf5;
    padding-top: 45px;
    padding-left: 40px;
    padding-bottom: 50px;
    margin-bottom: 80px;
  }

  &--subtitle{
    font-family: $ff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.42px;
    color: #d8b283;
  }

  &--line{
    margin-top: 45px;
    opacity: 0.5;
    border: solid 1px #d8b283;
    margin-bottom: 30px;
    margin-right: 72px;
  }

  &--book{
    padding-left: 135px;
    padding-top: 37px;
    padding-bottom: 100px;
    //padding-right: 60px;

    @include max-screen(1199px){
      padding-left: 27px!important;
    }

    .count{
      bottom: -70px;
    }
  }

  &--slider{
    margin-top: 30px;
    &-nav{
      //margin-right: 60px;
      position: relative;
      float: right;
      width: 63px+30px+63px;
      right: 60px;
      margin-top: -40px;
      //margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
    }
  }
  &--slide{
    position: relative;
    margin-right: 40px;
    width: 350px!important;
    margin-left: 10px;
    .ap{
      margin-left: 50px;
    }
  }

  &--step{
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    @include max-screen(1199px){
      margin-right: 27px;
    }

    &_number{
      font-family: $ff;
      width: 18px+20px;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.37px;
      color: #b37931!important;
    }
    span{
      font-family: $ff;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.37px;
      color: #231f20;
      max-width: 360px;
    }

  }


  &--check{
    display: flex;
  }

  &--form{
    margin-right: 115px;
    margin-top: 30px;

    @include max-screen(1199px){
      margin-right: 27px;
    }

    .btn{
      margin-top: 89px;
    }
  }
}

.ap--name-top{
  position: absolute;
  font-family: $ff;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.37px;
  color: #b37931;
  z-index: 9;
  left: 130px;
  top: 20px;
}

.checkbox {

  &--item{
    margin-right: 80px;
    font-family: $ff;
    margin-top: 20px;
  }
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 22px+17px;
  cursor: pointer;
}
.checkbox + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #b37931;
  background: #fff;
  transition: .2s;
}
.checkbox + label:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  border: none;
  background: #b37931;
  //box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
}
.checkbox:checked + label:before {
  background: #fff;
}
.checkbox:checked + label:after {
  background: #fff;
}
.checkbox:focus + label:before {
  //box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}



.form-group{
  position: relative;
}
.book{
  &--label{
    position: absolute;
    font-family: $ff;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;

    top: 0;
    @include transtion(all,0.2s);
    line-height: 1.75;
    letter-spacing: 0.42px;
    //color: #b37931;
    z-index: 0;
  }
}

.form-control{
  position: relative;
  z-index: 2;
  border:none;
  border-radius: 0px;
  border-bottom: solid 2px #b37931;
  outline: none!important;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.42px;
  color: #b37931!important;
  font-family: $ff;
  padding-left: 0;
  padding-bottom: 16px;
  background: transparent;


  &:focus,
  &.focused{
    outline: none!important;
    border-color: #b37931;
    background: transparent;
    box-shadow: none;

    &+.book--label{
      top: 45px;
      line-height: 1.57;
      letter-spacing: 0.37px;
      color: #231f20;
      font-size: 14px;
    }
  }
}


@include max-screen(1199px){
  .modal-event--addres,
  .modal-event--route,
  .modal-event--text
  {
    font-size: 14px;
  }
  .modal-event--route{
    margin-bottom: 25px;
  }
  .modal-event--text{
    h1{
      font-size: 25px!important;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.28!important;
      letter-spacing: 0.37px!important;
      margin-bottom: 20px !important;
    }
  }


  .modal-book--slider-nav{
    margin-top: 0px;
  }
  .modal-book--slider{
    max-height: 450px;
    overflow: hidden;
  }
  .modal-book--check{
    flex-direction: column;
    justify-content: center;
  }
  .modal-book{
    .form-group{
      margin-bottom: 50px;
    }

    @include max-screen(570px){
      .btn.btn-white{width: 100%}
    }
  }
  .modal-book--subtitle{
    font-size: 14px;
  }

}

.request{
  &--name{

      font-family: Georgia;
      font-size: 27px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.4px;
      color: #231f20;
    margin-bottom: 77px;
  }
  &--text{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.37px;
    color: #231f20;
    margin-bottom: 14px;
  }
  &--data{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.37px;
    color: #231f20;
    margin-bottom: 14px;
    span{

      color: #b37931;
    }

  }
}