html{
  background-color:#231f20;
}
body{
  opacity: 0;
}

.header{
  padding-top: 30px;
  padding-bottom: 43px;
  background-color: #231f20;

  &--logo{
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 10;
    &-white{
      display: none;
    }

    &:hover{
      filter: grayscale(100%);
      filter: saturate(0%);
    }
  }
  &--lang{
    float: right;
    margin-right: 2%;
    color: #d8b283;
    padding-top: 30px;
    font-family: $ff;
    position: relative;
    z-index: 100;

    &-list{
      right: -16px;
      position: absolute;
      margin-right: 2%;
      margin-top: 30px+30px;
      padding-left: 0;
      opacity: 0;
      display: none;
      list-style-type: none;
      @include transtion();
      z-index: 1000;
      box-shadow: 0 2px 20px 0 rgba(35, 31, 32, 0.1);
      background-color: #fbfaf5;
      a{
        display: inline-block;
        padding-left: 17px;
        padding-right: 17px;
        padding-bottom: 14px;
        padding-top: 14px;
        text-decoration: none;
        &:hover{
          text-decoration: none;
          background-color: #fff;
        }
      }
      li,a{
        font-family: $ff;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.42px;
        color: #b37931;
      }

      &_active{
        opacity: 1;
        display: block;
      }
    }

    .trg{
      top:-2px;
      @include triangle(#d8b283, 'down',5px);
      display: inline-block !important;
      position: relative;
      right: 5px;
    }

    &_active{

      //.trg{
      //  top:-2px;
      //  border:none!important;
      //  @include triangle(#d8b283, 'up',5px)!important;
      //  margin-bottom: 0;
      //  border-top: 5px solid transparent!important;
      //  display: inline-block !important;
      //  position: relative;
      //  right: 5px;
      //}

      &:hover{

        //.trg{
        //  border:none!important;
        //  @include triangle(#fff, 'up',5px)!important;
        //
        //  //margin-bottom: 0;
        //  border-top: 5px solid transparent;
        //  //display: inline-block !important;
        //  //position: relative;
        //
        //}
      }
    }



    &:hover{
      color: #fff;
      text-decoration: none;
      @include transtion();

      .trg{
        @include transtion();
        @include triangle(#fff, 'down',5px);
        display: inline-block !important;
        position: relative;

      }
    }


  }

  .wrap{
    max-width: 1440px;
    margin: 0 auto;
  }

  &--menu{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 25px;

    .header--link{
      font-size: 16px;
      font-family: $ff;
      font-weight: normal;
      color:#fff;
      letter-spacing: 0.42px;

      &-active{
        color: #b37931!important;
        border-bottom: 1px solid #b37931;
      }

      &:hover{
        color: #d8b283;
        text-decoration: none;
        @include transtion();
      }
    }
  }


  &-short{
    background: #fbfaf5;

    .header--logo{
      margin-top: -9px;
      margin-left: 45px;

      @include max-screen(1199px){
        margin-top: 0;
        top: 18px;
        margin-left: 25px;
      }
    }
    .header--link{
      color: #231f20;
    }

    .header--lang{
      &:hover{
        color: #231f20;
        .trg{
          @include triangle(#231f20, 'down',5px);
          display: inline-block !important;
          position: relative;
        }
      }
    }
  }
  
  &-black{
    background-color: #231f20;
    .header--link{
      color: #fff;

      &-active{
        color: #d8b283!important;
        border-color: #d8b283;
      }
    }

    .header--lang{
      &:hover{
        color: #fff;
        .trg{
          @include triangle(#fff, 'down',5px);
          display: inline-block !important;
          position: relative;
        }
      }
    }
  }


  &--burger{
    display: none;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    span{
      border-bottom: solid 1px #d8b283;
      display: block;
      width: 28px;
      height: 1px;
      margin-bottom: 10px;
    }
  }

  &--desctop_box{

  }
  &--mobile_box{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .header--link{
      color: #fff!important;
    }
  }

  &--mobile-logo{
    display: inline-block;
    position: relative;
    z-index: 1000;
    left: -2px;
    margin-bottom: 55px;
    //padding-left: 22px;
    img{
      width: 130px;
      height: 59px;
    }
  }

  @include max-screen(1199px){
    padding-top: 18px;
    &--desctop_box{
      display: none;
    }

    &--mobile_box{
      display: block;
    }

    &--burger{
      display: block;
      position: absolute;
      right: 28px;
      top: 35px;
      img{
        display: none;
        position: relative;
      }

      &-open{
        position: fixed;
        img{
          display: block;
          top: -10px;
          right: -8px;
        }
        span{
          display: none;
        }
      }
    }
    &--menu{
      display: block;
      position: absolute;
      opacity: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      top: 0;
      padding-top: 18px;
      //margin-top: 45px;
      background: #231f20;
      visibility: hidden;
      padding-left: 27px;
      height: 0;
      @include transtion();
      &-open{
        position: fixed;
        visibility: visible;
        height: 100vh;
        opacity: 1;
      }
    }
    &--link{
      display: block;
      margin-bottom: 20px;
    }

    &--logo{
      top: 18px;
      display: none;
      &-white{
        top: 0;
        display: block;
      }
    }
    &--lang{
      display: none;
    }
  }
}

.modal{
  padding-right: 0 !important;



  &-content{
    border-radius: 0px;
    border:none;
  }

  &-header{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    border:none;
  }
  &-body{
    border: none;
    padding: 0;
  }
}
.modal-dialog{
  position: relative;
  z-index: 10;
  width: 121rem;
  height: 100vh;
  //overflow: scroll;
  background-color: #fff;
  margin-right: 0;
  margin-left: auto;
  border-radius: 0px;
  margin-top: 0;
  margin-bottom: 0;
  //opacity: 0;
  transform: translateX(70px);
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}


.modal.fade .modal-dialog {
  transform: translate(500px,0)!important;
}
.modal.fade.show.modal-events .modal-dialog {
  transform: translate(15px,0)!important;
}
.modal.fade .modal-dialog.modal-xxl{
  transform: translate(0px,0)!important;
  overflow-y: hidden;

  @include max-screen(991px){
    overflow-y: visible;
  }
}
.modal.fade.modal-book .modal-dialog{
  transform: translate(0px,0)!important;
  //overflow-y: hidden;
}

.close{
  outline: none!important;
  opacity: 1;
  span{
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    background: url("../img/close.svg");
  }
}

.modal{

  &-event{
    padding-left: 80px;
    //padding-left: 80p/**/x;
    padding-top: 0px;
    padding-right: 100px;
    padding-bottom: 105px;
    @include max-screen(1199px){
      padding-left: 25px;
      margin-top: 0;
      padding-top: 0 !important;
    }

    &--text{
      @include max-screen(1199px){
        max-width: 100% !important;
        font-size: 14px!important;
        p{
          font-size: 14px!important;
        }
      }
    }

  }

  &-slider{

    min-height: 500px;
    //margin-left: -80px;
    @include max-screen(1199px){
      min-height: 1px;
    }


    .m-slider--navigation{
      position: absolute;
      bottom: 50px;
      z-index: 9;
    }
  }

  &-header{
    &-event{
      display: inline-block;
      position: relative;
      margin-bottom: -77px;
      top: 47px;
      margin-right: 45px;
      float: right;
      @include max-screen(1199px){
        top: 0;


      }
    }
  }
}

@media (min-width: 1200px){
  .modal-xl {
    max-width: 1150px;
  }
  .modal-xxl{
    max-width: 100%;
  }
}


.m-slide--bg{
  animation: header 10s ease;
}


@keyframes header {
  0% {
    //-webkit-transform: scale(1.2) translate3d?(0, -5%, 0);
    //-moz-transform: scale(1.2) translate3d(0, -5%, 0);
    transform: scale(1.2) translate3d(0%, 0%, 0)
  }

  100% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    -moz-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0)
  }
}

