body{
  //background-color: #fff;
}

.m-slider{
  background-color: #231f20;
  padding-bottom: 30px;

  @include max-screen(767px){
    padding-bottom: 0;
  }

  .swiper-container{
    height: 703px;
    @include max-screen(1199px) {

      min-height: 290px;
      height: auto;

    }
  }

  .swiper-slide{
    overflow: hidden;
  }

  .hidden{
    visibility: hidden;
  }

  &--navigation{
    margin-top: -24px;
    position: relative;
    z-index: 8;
    *{
      cursor: pointer;
    }
    @include max-screen(1199px){
      display: none;
    }

    &-mobile{
      float: right;
      text-align: right;
      outline: none!important;
      display: none;
      margin-top: 40px;
      margin-right: 12px;
      margin-bottom: 20px;
      img{
        width: 45px;
        outline: none!important;
      }
      @include max-screen(1199px){
        display: block;
      }
    }

  }
  &--prev{
    width: 63px;
    height: 24px;
    object-fit: contain;
    margin-right: 20px;
    @include transtion();
    position: relative;
    left: 0;
    outline: none!important;
    &:hover{
      left: 10px;
    }
  }

  &--next{
    @include transtion();
    width: 63px;
    height: 24px;
    object-fit: contain;
    position: relative;
    right: 0;
    outline: none!important;
    &:hover{
      right: 10px;
    }
    //transform: rotateX(10deg);
    //transform-origin: 50% 50%;
  }
  &--slide{
    height: 703px;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: right center;
    //overflow: hidden;

    @include max-screen(1199px) {
      align-items: flex-end;
      height: 100%;
      //background-image: none!important;
    }

    img{
      display: none;

      @include max-screen(1199px) {
        display: block;
        max-width: 100%;
        width: 100%;
      }
    }


    p{
      font-family: $ff;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.86;
      letter-spacing: 0.37px;
      color: #ffffff;
      @include max-screen(1199px) {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 0.37px;
        color: #d8b283;
      }
    }

    h3{
        //padding-bottom: 103px;
        font-family: $fh;
        font-size: 111px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.03;
        letter-spacing: normal;
        color: #ffffff;
        margin-bottom: 59px+24px;

      @include max-screen(1199px) {
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        letter-spacing: normal;
        color: #ffffff;
        margin-bottom: 20px;
      }


    }

    @include max-screen(1199px) {

      .container{
        margin-top: 45vh;
      }
    }
    @include max-screen(767px) {
      .container{
        margin-top: 265px;
      }
    }
  }
}

.m-slide{
  &--bg{
    position: absolute;
    top: 0;
    right: 0;
    width: 1325px;
    height: 703px;
    background-repeat: no-repeat;
    background-position: right center;

    @include max-screen(1500px){
      width: 1005px;
      height: 706px;
    }

    opacity: 0.43;
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #231f20, #231f20);


    @include max-screen(1199px) {
      height: auto;
      width: 100%;
      height: 70%;
      background-position: center center;
      background-size: cover;

    }

    @include max-screen(767px) {
      width: 100%;
      height: 290px;
      background-position: center center;
      background-size: cover;

    }

  }

}




.bookline{
  padding-top: 67px;
  padding-bottom: 62px;

  &-mobile{
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 40px;
    padding-top: 40px;
    display: none;
    @include max-screen(1199px){
      display: block;
    }

    @include max-screen(991px){

      .btn{
        width: 100%;
      }
    }

    &-black{
      background: #231f20;
    }
  }

  &-black{
    @include max-screen(1199px){
      display: none;
    }
  }

  .col{
    margin-top: 30px;
    p{
      margin-bottom: 0;
    }
    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 12px;
      right: 10px;
        width: 1px;
        height: 106px;
        opacity: 0.5;
        border: solid 1px #d8b283;
    }
    &:last-child:after,
    &:first-child:after{
      display: none;
    }
  }

  &--btns{
    font-family: $fh;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: 0.42px;
    color: #231F20;

    p{
      margin-bottom: 40px;
    }
  }

  &--drop{
    min-height: 45px;
    display: inline-block;
    font-family: $ff;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.37px;
    color: #d8b283;
  }

  &--input{
    margin: 0 auto;
    border:none;
    outline: none;
    width: 168px;
    font-family: Georgia;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.53;
    letter-spacing: 0.32px;
    color: #231f20;
  }
  &--drop{
    color: #d8b283;
    &:hover{
      color: #d8b283;
      text-decoration: none;
    }
  }
  &-black{
    background: #231f20;
    .bookline--btns{
      color: #fff;
    }
    .bookline--input{
      background: #231f20;
      //background: red;
      color: #fff;

    }
  }

  &-border{
    border-bottom: 1px solid #d8b283;
  }

  &-modal{
    padding-top: 0px;
    padding-bottom: 20px;
    .bookline--drop{
      color: #b37931!important;
    }
    .trg{
      @include triangle(#b37931, 'down',5px);
      display: inline-block!important;
      position: relative;
    }
  }



}


.b-quest,
.b-child{
  position: relative;
}


.count{
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 20px;
  //top: 0;
  bottom: -100px;
  //margin-bottom: -45px;
  opacity: 0;
  @include transtion(all,0.2s);
  z-index: 10000;
  border:1px solid #d8b283;
  //background-color: #fff;
  box-shadow: 0 2px 20px 0 rgba(35, 31, 32, 0.1);
  background-color: #fff;

  &.active{
    bottom: -90px;
    opacity: 1;
    //margin-bottom: -40px;
  }

  *{
    /**
             * Для эксплорера
             */
    -ms-user-select: none;

    /**
     * Для мозилы
     */
    -moz-user-select: none;

    /**
     * Для конкверора
     */
    -khtml-user-select: none;

    /**
     * Для Сафари и Хрома
     */
    -webkit-user-select: none;
  }
  &--plus,
  &--minus{
    display: inline-block;
    float: left;
    text-align: center;
    color: #b37931!important;
    cursor: pointer;
    font-size: 22px;
    font-family: $ff;
    line-height: 33px;
    height: 33px;
    width: 33px;
    border:1px solid #d8b283;
    vertical-align: top;
    position: relative;
    z-index: 2;
    outline: none;

    &:hover{
      background: #d8b283;
    }
  }
  &--pin{
    color: #231f20;
    float: left;
    vertical-align: top;
    font-size: 14px;
    line-height: 33px;
    height: 33px;
    width: 33px;
    display: inline-block;
    text-align: center;
    border-top:1px solid #d8b283;
    border-bottom:1px solid #d8b283;
  }
}



.my-apartments{
  background: #fff;
  padding-bottom: 117px;
  overflow: hidden;
  &--booking{
    position: relative;
    z-index: 0;
    top:-106px;
  }

  &--description{
    padding-top: 35px;
    p{
      opacity: 0.5;
    }

    .btn{
      margin-left: 62px;
      @include max-screen(1199px){
        margin-left: 0;
      }
    }
  }
}

.apartaments{
  &--navigation{
    float: right;
    padding-bottom: 20px;

    *{
      cursor: pointer;
    }
  }
}

.box-block{
  padding-top: 111px;
  h2,h1{
    font-family: $fh;
      font-size: 111px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.03;
      letter-spacing: normal;
      color: #231f20;
    margin-bottom: 70px;
    position: relative;
    z-index: 2;
    @include max-screen(1199px) {
      font-size: 45px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: normal;
      color: #231f20;
    }
  }
  p {

    font-family: $ff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.42px;
    color: #231f20;
  }
}




// апартаменты
.ap{
  display: block;
  text-decoration: none;
  width: 300px;
  margin-left: 60px;
  position: relative;
  padding-top: 55px;
  @include transtion();

  &--name{
    top: 0;
    left: -58px;
    position: absolute;
    font-family: $fh;
    font-size: 111px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: normal;
    color: #b37931;
    //color: transparent; /* прозрачный цвет букв */
    //-webkit-text-stroke: 1px blue;
    @include transtion();
  }

  &:hover{
    text-decoration: none;
    .ap--name{
      //left: -50px;
      //top: 5px;
      //color: transparent; /* прозрачный цвет букв */
      //-webkit-text-stroke: 1px #b37931;
    }
  }

  &--img{
    max-width: 300px;
    width: 100%;
  }

  &--price{

    font-family: $fn;
    font-size: 27px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: #231f20;
    height: 67px;

  }
  &--im{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    img{
      display: inline-block;
    }
  }
  &--icons{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    text-align: center;
    padding-bottom: 22px;
    border-bottom: 1px solid #d8b283;
    margin-bottom: 22px;
  }

  &--icon{
    text-align: center;
    p{
      margin-bottom: 0!important;

        font-family: $ff;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: 0.42px;
        text-align: center;
        color: #231f20;

    }
  }

  &--link{
    .svg--info{
      circle{
        stroke:#B37931;
        fill:#fff;
      }
      *{
        @include transtion();
      }
    }
    &:hover{
      .svg--info{
        circle{
          fill:#B37931;
        }
        path{
          stroke:#fff;
        }
        &-i{
          circle{
            fill:#fff!important;
          }
        }
      }
    }
  }

  &--check{
    position: absolute;
    display: block;
    background: url("../img/add.svg") 0% 0% no-repeat;
    width: 50px;
    height: 50px;
    bottom: 30px;
    left: 36px;
    outline: none;
    @include transtion();
    &:hover{
      background: url("../img/add_hover.svg") 0% 0% no-repeat;
    }

    &-active{
      background: url("../img/add_checked.svg") 0% 0% no-repeat;
      &:hover{
        background: url("../img/add_checked.svg") 0% 0% no-repeat;
      }
    }
  }
}




//события главная
.events{
  padding-top: 140px;
  padding-bottom: 146px;
  background-color: #fbfaf5;

  h2{
    margin-bottom: 19px;
  }

  &-page{
    padding-top: 120px;
  }
}

.event{
  &--all{
    text-align: center;
    margin-top: 50px;
  }
  &--item{

    width: 343px;
    float: left;
    margin-bottom: 70px;
    //width: 80px;
    //height: 60px;
    &-big{
      width:745px;
    }

    &-sm{
      padding-top: 61px;
    }
    .figure{
      position: relative;

      img{
        margin-bottom: 0;
        border-radius: 0px!important;
      }

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        @include transtion();
        mix-blend-mode: multiply;
        background-color: #231f20;
      }
    }
    &:hover {
      .figure {
        &:before {
          content: '';
          opacity: 0.54;
        }
      }
    }

  }

  &--date{

    font-family: $ff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.42px;
    color: #b37931;
    margin-bottom: 8px;

  }

  &--header{
      font-family: $fn;
      font-size: 27px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.4px;
      color: #231f20;
      &:hover{
        text-decoration: none;
        color: #b37931;
      }
  }


  &-sm{
    //width: 310px;
  }
}

.p0{
  padding: 0;

}


.modal-event{
  padding-top: 50px;
  &--text{
    @extend .box-block;
    padding-top: 0;

    margin-left: 6%;
    max-width: 62%;

    @include max-screen(1199px){
      margin-left: 0;
      padding-top: 0 !important;
    }
  }

  &--date{
    font-family: $ff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.42px;
    color: #b37931;
    margin-bottom: 70px;
    margin-top: 20px;

  }

  &--pin {
    margin-bottom: 20px;
    svg {
      display: inline-block;
      width: 20px;
      height: 28px;
      object-fit: contain;
      path{

        fill: #b37931;
      }
    }

  }

  &--route{
      font-family: $ff;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: 0.42px;
      color: #b37931;

  }

  &--addres{
    font-family: $ff;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: 0.42px;
      color: #231f20;
    margin-bottom: 12px;
  }

  &--header{
      font-family: $fn!important;
      font-size: 46px!important;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2!important;
      letter-spacing: 0.35px!important;
      color: #231f20;
    margin-bottom: 50px!important;

  }
}

.modal-slider{
  .carousel-item img{
    width: 100%;
  }
  &--navigation{
    position: absolute;
    bottom:57px;
    left: 75px;
    z-index: 10;
  }

  &--next{
    margin-left: 40px;
  }
}



.apartments{
  &-header{
    background-color: #231f20;
    
    h1{
      color: #fff;
      margin-bottom: 45px;
    }
  }

  &--ankors{
    padding-bottom: 40px;
  }

  &--book{
    display: none;
  }

  &-list{
    padding-top: 96px;
  }

  &--item{
    margin-bottom: 110px;
    cursor: pointer;
    .ap--icons{
      margin-right: 170px;
      padding-top: 5px;
    }
    
    &:hover{
      .apartments--number{
        color: #b37931;
      }
      .apartments--cursor{
        position: relative;
        &:before{
          content: '';
          display: block;
          left: 68px;
          opacity: 0.54;
          mix-blend-mode: multiply;
          background-color: #231f20;
          @include max-screen(1199px){
            left: 0px;
          }
        }

      }
    }

    &-left{
      .apartments--img{
        //right: 30px;
        //left: initial;
        //margin-left: 88px;
      }
      .apartments--number{
        left: 0;
        bottom: -62px;

        @include max-screen(1199px){
          left: initial;
          bottom: -40px;
          right: -90px;
        }
      }
    }
  }
  &--link{
      font-family: $fh;
      font-size: 21px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.24;
      letter-spacing: 0.42px;
      color: #b37931;
    display: inline-block;

    @include max-screen(1199px){
      margin-top: 30px;
    }

    &:hover{
      color: #b37931;
      text-decoration: none;
    }
  }
  &--descr{
     font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      font-family: $ff;
      line-height: 1.75;
      letter-spacing: 0.42px;
      color: #231f20;

      @include max-screen(1199px){
        margin-right: 170px;
      }
      //padding-right: 20%;
    p{
      margin-bottom: 0;
    }

  }

  &--number{
    bottom: -40px;
    right: -130px;
    position: absolute;
    font-family: $fh;
    font-size: 240px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    z-index: 1;
    letter-spacing: 10px;
    color: #b37931;
    color: transparent;
    -webkit-text-stroke: 1px #b37931;
    @include transtion();
    @include max-screen(1270px){
      right: 0px;
    }
    @include max-screen(1199px){
      right: -90px;
    }
  }

  &--img{
    position: relative;
    width: 100%;
    //left: -30px;
    margin-left: 68px;
    @include max-screen(1199px){
      margin-left: 0px;
    }
    //cursor: url(../img/curor.svg), pointer;
  }

  &--cursor{
    display: inline-block;
    position: relative;
    cursor: url(../img/curor.svg), pointer;
    &:before{
      content: '';
      @include transtion();
      left: 68px;
      @include max-screen(1199px){
        left: 0px;
      }
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
    }
  }

  &--icons{
    background: #fbfaf5;
    padding-top: 77px;
    padding-bottom: 90px;
    
    h2{
      font-family: $fn;
      font-size: 46px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: 0.35px;
      color: #231f20;
      margin-bottom: 90px;
    }
    
    &-service{
      background-color: #fff;
      h2{
        margin-bottom: 110px;
      }
    }
  }

  &--inform{
    padding-right: 19%;
    font-family: $ff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.42px;
    color: #231f20;
    margin-bottom: 35px;

    span {
      color: #b37931;
    }

    &-icon{
      position: absolute;
      width: 45px;
      height: 45px;
      min-width: 45px;
      line-height: 45px;
      text-align: center;
      left: -45px-20px;
    }
  }

  &--timer{
    float: right;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 37px;
    padding-bottom: 20px;
    border: solid 1px #d8b283;
    font-family: $ff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.42px;
    color: #231f20;

    span{
      color: #b37931;
    }

  }

  &--service-ico{
    display: block;
    width: 45px;
    height: 45px;
    min-width: 45px;
    text-align: center;
    line-height: 45px;
    margin-right: 5px;
    img{
      position: relative;
      top: -10px;
      //margin-top: px;
      //padding-bottom: 30px;
    }
  }

  &--service{
    margin-bottom: 35px;
    margin-top: 40px;
    p{
      font-family: $ff;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: 0.42px;
        color: #231f20;

    }

      &-border{
        border-top: solid 1px rgba(#d8b283,0.3);
        border-bottom: solid 1px rgba(#d8b283,0.3);
        padding-bottom: 28px;
        padding-top: 32px;
      }


    .apartments--service-list,
    p{
      padding-right: 20%;
    }
  }

  &--service-name{
    font-family: $ff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.42px;
    color: #b37931;
    margin-bottom: 0px;
    display: flex;
    justify-content: start;
  }

  &--service-list{
    padding-left: 12px;
    position: relative;
    font-family: $ff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.42px;
    color: #231f20;

    li{
      position: relative;
      list-style-type: none;
      &:before{
        content: '•';
        display: inline-block;
        position: absolute;
        left: -10px;
        top: 0;
      }
    }
  }

  &--dual{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(#d8b283,0.3);
    margin-right: 20%;

    div:nth-child(2){
      width: 1px;
      border-right: 1px solid rgba(#d8b283,0.3);
    }
    div:nth-child(3){
      width: 145px;
      margin-top: 7px;
      margin-bottom: 7px;
    }

    &:last-child{
      border-bottom: none;
    }
  }

  &--age{
    //border-right: 1px solid;
    width: 90px;
    font-family: $ff;
    margin-bottom: 7px;
    margin-top: 7px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.42px;
    color: #231f20;
  }

}

.apa{
  &--ankor{
    font-family: $ff;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.42px;
      color: #d8b283;
    display: inline-block;
    margin-right: 60px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    outline: none;
    @include transtion();



    &:hover{
      color: #fff;
      text-decoration: none;
      //border-bottom: 1px solid #d8b283;
      &.header--link{
        border-bottom: none;
      }
    }
  }
}

.per-rub{
  font-family: $ff;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.42px;
  color: #b37931;
}


.modal-apartments{
  
  &--photo{
    background-color: #231f20;
    height: 100vh;
    padding-top: 60px;

    @include max-screen(991px){
      height: auto;

      .slider-nav{
        .slick-track{
          display: none;
        }
      }
    }
    .slick-slide{
      text-align: center;
      img{
        display: inline-block;
        max-height: 490px;
      }
    }

    .slider-nav{
      .slick-slide{
        margin-right: 15px;
        img{
          display: inline-block;
          width: 102px;
        }
      }
    }
  }
  &--left{
    overflow-y: auto;
    height: 100vh;
    @include max-screen(991px){
      height: auto;
      overflow-y: hidden;
    }
  }

  &--bookinfo{
    background: #fbfaf5;
    padding-top: 54px;
    padding-right: 85px;
    padding-bottom: 30px;
    padding-left: 48px;
    font-family: $ff;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.37px;
    color: #231f20;

    a{
      color:#b37931;
    }
  }
  &--info{
    padding-top: 54px;
    padding-right: 85px;

    padding-left: 48px;

    .close{
      margin-top: 0;
    }

    .apartments--descr{
      margin-bottom: 38px;
    }

    .ap--icons{
      margin-right: 25%;
    }

    
    .apartments--icons{
      background-color: #fff;
      padding-bottom: 20px;
      h2{
        font-size: 27px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 0.4px;
        color: #231f20;
        margin-bottom: 25px;
      }

      .apartments--service-list,
      p{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.86;
        letter-spacing: 0.37px;
        color: #231f20;
      }
      .apartments--service-name{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.37px;
      }
      .apartments--service-ico{
        width: 39px;
        height: 39px;
        line-height: 39px;
        text-align: center;
      }
      .apartments--dual{
        margin-right: 0px;
        .apartments--age{
          margin-right: 15px;
        }
        .per-rub{
          margin-left: 15px;
        }
      }
      .per-rub,
      .apartments--age{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: 0.37px;
      }


    }
  }

}

.slider{
  padding-left: 37px;
  padding-right: 37px;
  &--navigation{
    padding-left: 37px;
    padding-right: 37px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 37px;
    padding-top: 100px;

    @include max-screen(991px){
      padding-top: 27px;
      padding-bottom: 27px;
    }
    &-prev{

    }
    &-next{

    }
    &-count{
      font-family: $ff;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: 0.42px;
      color: #d8b283;
    }
  }
}

.desctop-only{
  display: block;
}

.mobile-only{
  display: none;
}
// mobile
@include max-screen(776px) {
  .box-block{
    padding-top: 60px;
  }
  .desctop-only{
    display: none;
  }
  .mobile-only{
    display: block;
  }
  .apartments {
    &--photo.p0{
      padding: initial;
      padding-right: 15px;
      padding-left: 15px;
    }
    &--item{
      //margin-right: 0px;
      //margin-left: 80px;
      overflow: hidden;
      padding-top: 50px;
    }

    &-list .container{
      max-width: 100%;
      padding: 0;

    }
    &-header {
      padding-left: 25px;
      h1 {
        margin-bottom: 40px;
      }
    }

    .apa--ankor{
      display: block;
      margin-bottom: 13px;
    }
    
    &--ankor{
      color: #d8b283;
    }

    &--icons{
      padding-left: 27px;
      padding-right: 27px;
      h2{
        margin-bottom: 20px;
        font-size: 25px;
      }
    }
    &--service{
      margin-top: 20px;
      margin-bottom: 20px;

      p{
        font-size: 14px;
      }
    }
    &--service-list,
    &--service-name,
    &--age,
    &--inform{
      font-size: 14px;
    }
    &--service-ico{
      width: 36px;
      height: 36px;
      max-width: 36px;
      img{
        top: -13px;
      }
    }
    &--timer{
      float:initial;
      margin-bottom: 28px;
    }
    &--inform{
      .apartments--inform-icon{
        position: relative;
        float: left;
        left: 0px;
        top: -10px;
        width: 36px;
        height: 36px;
        max-width: 36px;
        margin-right: 10px;
        img{
          top: -13px;
        }
      }
    }
    &--item{
      .ap--icons p{
        font-size: 14px;
      }
      .apartments--descr,
      .apartments--descr+.ap--icons{
        display: none;
      }
    }
    &--photo{

      //order:0;
      //text-align: left;
      //-ms-flex: 0 0 100%;
      //flex: 0 0 100%;
      //max-width: 100%;
      .apartments--number{
        top: -58px;
        left: 28px;
        font-size: 111px;
        bottom: initial;
        right: initial;
      }
      .apartments--img{
        padding-left: 0;
        margin-left: 0;
      }
    }
    &--info{
      //order:12;
      //
      //flex-basis: 0;
      //flex-grow: 1;
      //max-width: 100%;
      padding-left: 37px;
      padding-right: 37px;

      .apartments--link{
        display: none;
      }

      .ap--icons{
        max-width: 600px;
        margin-right: 0;
      }


    }
    &--book{
      display: block;
    }
  }

  .per-rub{
    font-size: 14px;
  }

  .apartments-list-desktop{
    //display: none;
  }
  .bookline-black.bookline-border{
    display: none;
  }
}


@include max-screen(767px){
  .apartments.apartments-list{
    .container{
      padding-top: 50px;

    }

    .slick-prev.slick-arrow,
    .slick-next.slick-arrow{
      position: absolute;
      top: 0;
      outline: none;
    }
    .slick-prev.slick-arrow{
      background: url("../img/arrow--prev.svg") 50% 50% no-repeat;
      font-size: 0px;
      border:none;
      width: 100px;
      height: 20px;
      right: 100px;
    }
    .slick-next.slick-arrow{
      background: url("../img/arrow--next.svg") 50% 50% no-repeat;
      font-size: 0px;
      border:none;
      width: 100px;
      height: 20px;
      right: 0;
    }
  }

}


.apartments--name{
  &-mobile{
    display: none;
    @include max-screen(1199px){
      display: block;
      .apartments--link{
        margin-top: 17px;
        margin-left: 27px;
        margin-bottom: 15px;
        color: #d8b283;
        font-size: 25px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.04;
        letter-spacing: 0.42px;
        font-family: $fh;

      }
    }
  }
  &-desctop{
    display: block;
    @include max-screen(1199px){
      display: none;
    }
  }
}

.modal-header-mobile{
  display: none;
  @include max-screen(1199px){
    display: block;
  }
}
.modal-header-desctop{
  display: block;
  @include max-screen(1199px){
    display: none;
  }
}

@include max-screen(1199px){

  .modal-apartments--info{
    padding-top: 1px;
  }

  .modal-dialog.modal-xxl,
  .modal-dialog.modal-xl{
    max-width: 100% !important;
    //margin: 1.75rem auto;
  }
  .modal-apartments--photo{
    padding-top: 10px;
  }
  .modal-apartments--info{

    padding-left: 27px;
    padding-right: 27px;
    .apartments--descr{
      margin-right: 0;
      font-size: 14px;
    }
  }
  .modal-apartments--bookinfo{
    padding-left: 27px;
    padding-right: 27px;
    font-family: $ff;
    font-weight: normal;
  }

  .modal-apartments--info{

    .apartments--service{
      margin-bottom: 40px;

      &-border{
        border-top: solid 1px rgba(#d8b283,0.3);
        border-bottom: solid 1px rgba(#d8b283,0.3);
        padding-bottom: 28px;
        padding-top: 32px;
      }
    }
  }
  .events-page{
    padding-left: 27px;
    h1{
      margin-bottom: 10px;
    }
    .event--item{
      width: calc(100% - 27px);
      margin-right: 27px;
    }
    .event--item-big{
      width: calc(100% - 27px);
    }
  }

  .event--list{
    .event--item{
      width: calc(100% - 27px);
      margin-right: 27px;
    }
    .event--item-big{
      width: calc(100% - 27px);
    }
  }
}

@include max-screen(991px){
  .modal-apartments--photo{
    .slider{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .modal-apartments--info{
    .apartments--icons{
      padding: 0;
      padding-top: 40px;
    }
    .ap--icons{
      margin-right: 0;
    }
  }
}


.ap--chooise{
  display: block;
  max-width: 357px;
  background-color: #fbfaf5;
  padding-left: 17px;
  padding-top: 17px;
  padding-bottom: 13px;
  padding-right: 17px;
  font-family: $fh;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: 0.42px;
  color: #b37931;
  margin-bottom: 15px;
  &-del{
    float: right;
    svg{
      margin-top: -9px;
      width: 32px;
    }
  }
}

.modal-book--chooise{
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}




@include max-screen(1199px){
  .apartaments{
    .swiper-slide{
      margin-left: 0px;
      overflow: hidden;
      .ap{
        margin-left: 0;
        width: 290px;
      }
      .ap--name{
        left: 20px;
      }
      .ap--img{
        //position: relative;
        img{
          //max-width: 100%;
          width: 100%;
          display: inline-block;
        }
      }
    }
  }
  .my-apartments{
    //padding-left: 27px;
    //padding-right: 27px;

    h2{
      font-size: 45px!important;
      padding-left: 27px;
      padding-right: 27px;
    }
    p{
      font-size: 14px;
      margin-bottom: 38px;
      //padding-left: 27px;
      //padding-right: 27px;
    }
    &--booking{
      margin-left: -27px-15px;
      margin-bottom: -20px;

      img{
        position: relative;
        border-radius: 0px!important;
        top:20px;
        width: 200% !important;
      }
    }
  }
  .my-apartments--description,
  .my-apartments--about{
    padding-left: 27px;
    padding-right: 27px;
  }

  .events-mainblock.box-block{
    padding-left: 27px;
    padding-right: 27px;

    h2{
      //margin-bottom: 27px!important;
    }
    .event--item-sm{
      padding-top: 31px;
      margin-bottom: 15px;
    }
    .event--item:nth-child(1),
    .event--item:nth-child(2),
    .event--item:nth-child(3),
    .event--item:nth-child(4){
      display: block;
    }

    .event--item{
      display: none;
    }

  }

}


.datepickers-container{
  z-index: 10000;
}


.booking-rating{
  display: flex;
  position: absolute;
  top: -44px;
  right: 80px;
  &--number{
    font-family: $ff;
    font-size: 29px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: 0.42px;
    color: #fbfaf5;
    background: #b37931;
    width: 87px;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }
  &--text{
    height: 80px;
    padding-left: 20px;
    padding-right: 33px;
    border:1px solid #b37931;
    padding-top: 15px;
    font-family: $ff;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: 0.42px;
    color: #b37931;
    small{
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: 0.42px;
      color: #b37931;
    }
  }


  @include max-screen(1199px){
    display: flex;
    position: absolute;
    top: initial;
    bottom: -60px;
    right: 240px;
    flex-direction: column;
    justify-content: end;

  }

  @include max-screen(991px){
    display: flex;
    position: absolute;
    top: initial;
    bottom: -60px;
    right: 40px;
    flex-direction: column;
    justify-content: end;
    &--number{
      font-size: 20px;
      width: 57px;
      height: 53px;
      line-height: 53px;
    }
    &--text{
      height: 47px;
      font-size: 18px;
    }
    small{
      display: none;
    }
  }
}

@include max-screen(767px){

  .bookline--input{
    width: 250px;
  }
  .bookline .col:after{
    right: 40px;
  }
  .bookline-modal .col{
    &:first-child{
      &:after{
        display: inline-block!important;
      }
    }
    &:nth-child(2){
      &:after{
        display: none;
      }
    }
  }
  .modal-book--slide{
    margin-left: 0px;
    margin-right: 30px;
  }
  .modal-book--slide .ap{
    margin-left: 0;
  }
  .modal-book{
    .ap--name{
      left: 8px;
    }
  }
  .ap--img{
    max-width: 260px;
    img{
      max-width: 100%;
      width: 100%;
    }
  }
  .modal-book--slide{
    width: 260px !important;
  }
  .checkbox--item{
    label{
      font-size: 14px;
    }
  }
  .event--item-sm{
    padding-top: 15px;
    margin-bottom: 35px!important;
  }
  .modal-event{
    padding-right: 27px;
  }
  .modal-header-event{
    margin-right: 10px;
  }
  .apartaments--navigation{
    margin-right: 15px;
  }
}

@include max-screen(580px){

  .bookline--input{
    width: 250px;
  }
  .bookline .col:after{
    right: 40px;
  }
  .bookline-modal .col{
      &:after{
        display: none!important;
      }
    &:first-child{
      &:after{
        display: none!important;
      }
    }
  }
}