.ic {
    font-size: 10px;
}

.ic:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("icons.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .ic:before {
    background-image: url("icons.png");
}




