@import "../libs/bootstrap/scss/bootstrap-grid.scss";
@import "../libs/bootstrap/scss/bootstrap-reboot.scss";

@media (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
}

$ff: 'Montserrat', sans-serif;
$fh: 'Oswald', sans-serif;
$fn: 'Georgia', sans-serif;


@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "components/animated";
@import "components/sprite";
@import "components/btns";
@import "components/cards";
@import "components/header";
@import "components/footer";
@import "components/main";