<div class="modal-book--slide">
    <a class="ap--name-top ap--link" href="#" data-toggle="modal" data-target="#apartment"><svg class="svg--info" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31"><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="14.5" cy="14.5" r="14.5" stroke="#B37931" stroke-linecap="round" stroke-linejoin="round"/><g class="svg--info-i" transform="translate(11 6)"><circle cx="3.333" cy="1.579" r="1" fill="#B37931"/><path stroke="#B37931" stroke-linecap="round" stroke-linejoin="round" d="M.778 6.342H3.5v9.474" opacity=".9"/><path stroke="#B37931" stroke-linecap="round" stroke-linejoin="round" d="M.224 16.21H6.61"/></g></g></svg></a>
    <div class="ap">
        <div class="ap--name">A2</div>
        <div class="ap--img"><img src="img/Group%202.jpg"></div>
        <a href="#" data-title="APARTMENT 02" class="ap--check"></a>
    </div>
</div>