<div class="apartments--item fadeIn wow delay-04s">
    <div class="row">
        <div class="col-xl-4 col-lg-12 order-xl-0 order-12 apartments--info p0">
            <p><a href="#" class="apartments--link">APARTMENT 01</a></p>
            <div class="ap--icons">
                <div class="ap--icon">
                    <div class="ap--im"><img src="img/room%20size.svg"></div>
                    <p><span>28 м²</span></p>
                </div>
                <div class="ap--icon">
                    <div class="ap--im"><img src="img/2%20beds.svg"></div>
                    <p><span>2*90*200</span></p>
                </div>
                <div class="ap--icon">
                    <div class="ap--im"><img src="img/Guest.svg"></div>
                    <p><span>2</span></p>
                </div>
            </div>
            <div class="apartments--descr">
                <p>Апартаменты с полностью оборудованной кухней, обеденной зоной, телевизором с плоским экраном и спутниковыми каналами, ванной комнатой с душем.</p>
            </div>
            <div class="ap--icons"></div>
            <div class="ap--price">от 14 643 RUB </div>
            <div class="apartments--book"><a href="#" class="btn btn-white">Забронировать</a></div>
        </div>
        <div class="col-xl-8 col-lg-12 order-xl-12 order-lg-0 apartments--photo p0">
            <a href="#" class="apartments--cursor"><img src="img/interior_01.png" alt="" class="img-fluid apartments--img">
                <div class="apartments--number">A1</div>
            </a>
        </div>
    </div>
</div>