<div class="container">
    <div class="row justify-content-end">
        <div class="col-3">
            <div class="bookline--btns">
                <p>Онлайн-<br>
                    бронирование</p>
                <p><a href="#" class="btn btn-fill btn-book">Забронировать</a></p>
            </div>
        </div>
        <div class="col">
            <div class="b-from">
                <p><a href="#" class="bookline--drop book-from">Дата заезда <span class="trg"></span></a></p>
                <input type='text' name="book-from" data-datepicker="" class="bookline--input bookpicker bookpicker-from" value="09.07" />
            </div>
        </div>
        <div class="col">
            <div class="b-to">
                <p><a href="#" class="bookline--drop book-to">Дата выезда <span class="trg"></span></a></p>
                <input type='text' name="book-to" readonly data-datepicker="" class="bookline--input bookpicker bookpicker-to" value="12.07" />
            </div>
        </div>
        <div class="col">
            <div class="b-quest">
                <p><a href="#" class="bookline--drop book-quest">Количество<br> гостей <span class="trg"></span></a></p>
                <input type='text' name="book-quest" class="bookline--input bookpicker-quest" value="1" />
            </div>
        </div>
        <div class="col">
            <div class="b-child">
                <p><a href="#" class="bookline--drop book-child">Количество<br>детей <span class="trg"></span></a></p>
                <input type='text' name="book-child" class="bookline--input bookpicker-child" value="0" />
            </div>
        </div>
    </div>
</div>

