
        <!--контакты с картой  -->
		<section class="contacts" id="three">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 p0 order-md-0 order-sm-12 order-12">
						<div class="contacts--map" id="contacts--map"></div>
					</div>
					<div class="col-md-6 order-md-12 order-sm-0 order-0 p0 contacts--box">
						<div class="row no-gutters">
							<div class="col"><img class="img-fluid" src="img/contact--img.png"></div>
						</div>
						<div class="row no-gutters contacts--box">
							<div class="col-lg-9">
								<div class="contacts--info">
									<div class="contacts--preheader">München Messe Boardinghaus</div>
									<div class="contacts--header">Willy-Brandt-Allee 14 81829 München</div>
								</div>
							</div>
							<div class="col-12">
								<div class="contacts--address">
									<p><a href="mailto:booking@apartmentmunich.ru">booking@apartmentmunich.ru</a></p>
									<p><a href="tel:+49 179 101 50 75">+49 179 101 50 75</a>   I <a href="tel:+49 (89) 101 50 75">+49 (89) 101 50 75</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=Map" type="text/javascript"></script>
		<script>
			ymaps.ready(init);
			function init() {
				var map = new ymaps.Map("contacts--map", {
					center: [48.133559, 11.697573],
					zoom: 17,
					controls: []
				},{suppressMapOpenBlock: true});

				if (map) {

					map.behaviors.disable('scrollZoom');
					ymaps.modules.require(['Placemark', 'Circle'], function (Placemark, Circle) {
						var pin = new Placemark(map.getCenter(), {}, {
							iconLayout: 'default#image',
							iconImageHref: 'img/pin.svg',
							iconImageSize: [63, 88],
							iconImageOffset: [-32, -44]
						});
						map.geoObjects.add(pin);
					});
				}
			}
		</script>

        <!--бронирование с бордером внизу-->
		<div class="bookline bookline-black bookline-border">
			//= book_line.html
		</div>

        <!--общий футер-->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<a href="/" class="footer--logo"><img src="img/logo--footer.svg"></a>
						<p class="footer--copyright">München Premium Apartments © 2019 <br> <a href="#">Privacy Policy</a></p>
					</div>
					<div class="col-lg-5">
						<ul class="footer--menu">
							<li><a href="#">О нас</a></li>
							<li><a href="apartments.html">Апартаменты</a></li>
							<li><a href="#">Онлайн-бронирование</a></li>
							<li><a href="events.html">События</a></li>
							<li><a href="#three" class="apa--ankor">Контакты</a></li>
						</ul>
					</div>
					<div class="col-lg-3">
						<p class="footer--social">Ищите на booking.com <br>
							и в социальных сетях</p>
						<div class="social--box">
							<a href="#" class="social--link">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23" height="22" viewBox="0 0 23 22">
									<defs><path id="booking_" d="M0 .97h22.526V23H0z"/></defs>
									<g fill="none" fill-rule="evenodd">
										<path fill="#FEFEFE" d="M11.3 8.665c0-.798-.477-1.273-1.273-1.273h-.93c-.463.03-.674.268-.674.767V9.981h1.633c.917 0 1.244-.709 1.244-1.316M10.237 11.65H9c-.396.056-.576.297-.576.76v2.17l1.814.002c.897 0 1.454-.549 1.454-1.474 0-.9-.57-1.458-1.454-1.458"/>
										<g transform="translate(0 -.97)">
											<mask id="booking" fill="#fff"><use xlink:href="#booking_"/></mask>
											<path fill="#FEFEFE" d="M16.126 17.377a1.332 1.332 0 0 1-1.328-1.335 1.331 1.331 0 1 1 2.66 0c0 .736-.597 1.334-1.332 1.334zm-6.038 0h-3.74v-9.66a1.138 1.138 0 0 1 1.097-1.123h2.597c2.042 0 3.363 1.097 3.363 2.8 0 1.111-.56 1.755-.892 2.043l-.286.245.328.184c.796.449 1.269 1.329 1.269 2.36 0 1.914-1.466 3.15-3.736 3.15zM22.526 5.2A4.232 4.232 0 0 0 18.295.97H4.23A4.232 4.232 0 0 0 0 5.2V23h18.295a4.232 4.232 0 0 0 4.23-4.23V5.2z" mask="url(#booking)"/>
										</g>
									</g>
								</svg>
							</a>
							<a href="#" class="social--link">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23" height="23" viewBox="0 0 23 23">
									<defs>
										<path id="facebook_" d="M0 0h22.03v22.029H0z"/>
									</defs>
									<g fill="none" fill-rule="evenodd">
										<mask id="facebook" fill="#fff">
											<use xlink:href="#facebook_"/>
										</mask>
										<path fill="#FEFEFE" d="M22.03 3.672C22.03 1.742 20.288 0 18.358 0H3.672C1.742 0 0 1.742 0 3.672v14.686c0 1.929 1.742 3.671 3.672 3.671h7.343v-8.322H8.322v-3.671h2.693v-1.43c0-2.468 1.852-4.69 4.131-4.69h2.967v3.672h-2.967c-.325 0-.704.395-.704.985v1.463h3.671v3.671h-3.67v8.322h3.915c1.93 0 3.672-1.742 3.672-3.671V3.672z" mask="url(#facebook)"/>
									</g>
								</svg>
							</a>
							<a href="#" class="social--link">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23" height="22" viewBox="0 0 23 22">
									<defs>
										<path id="instagram" d="M0 .97h22.03V23H0z"/>
									</defs>
									<g fill="none" fill-rule="evenodd">
										<path fill="#FEFEFE" d="M16.871 3.83c-.74 0-1.343.602-1.343 1.342 0 .74.603 1.343 1.343 1.343s1.342-.603 1.342-1.343-.602-1.343-1.342-1.343"/>
										<g transform="translate(0 -.97)">
											<mask id="instagram_" fill="#fff">
												<use xlink:href="#instagram"/>
											</mask>
											<path fill="#FEFEFE" d="M19.633 17.443a3.163 3.163 0 0 1-3.16 3.16H5.558a3.164 3.164 0 0 1-3.16-3.16V6.527a3.163 3.163 0 0 1 3.16-3.16h10.915a3.163 3.163 0 0 1 3.16 3.16v10.916zM16.473.97H5.558A5.563 5.563 0 0 0 0 6.527v10.916A5.563 5.563 0 0 0 5.558 23h10.915a5.563 5.563 0 0 0 5.556-5.557V6.527A5.563 5.563 0 0 0 16.473.97z" mask="url(#instagram_)"/>
										</g>
										<path fill="#FEFEFE" d="M11.015 14.292a3.281 3.281 0 0 1-3.276-3.277 3.28 3.28 0 0 1 3.276-3.276 3.28 3.28 0 0 1 3.276 3.276 3.281 3.281 0 0 1-3.276 3.277m0-8.95a5.681 5.681 0 0 0-5.674 5.673 5.68 5.68 0 0 0 5.674 5.673 5.68 5.68 0 0 0 5.674-5.673 5.681 5.681 0 0 0-5.674-5.674"/>
									</g>
								</svg>

							</a>
							<a href="#" class="social--link">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="19" viewBox="0 0 33 19">
									<defs>
										<path id="vk" d="M0 0h32.627v18.464H0z"/>
									</defs>
									<g fill="none" fill-rule="evenodd">
										<mask id="vk_" fill="#fff">
											<use xlink:href="#vk"/>
										</mask>
										<path fill="#FEFEFE" d="M28.08 11.74c1.084 1.058 2.226 2.052 3.196 3.215.43.516.835 1.05 1.146 1.65.44.853.04 1.79-.723 1.842l-4.754-.002c-1.226.102-2.203-.392-3.026-1.23-.658-.67-1.268-1.384-1.9-2.077-.26-.283-.531-.55-.855-.76-.65-.421-1.213-.292-1.583.384-.378.689-.464 1.45-.501 2.218-.051 1.119-.39 1.413-1.514 1.465-2.402.113-4.683-.25-6.801-1.463-1.868-1.068-3.316-2.577-4.577-4.284C3.734 9.372 1.854 5.718.165 1.962-.215 1.115.063.66.997.644c1.55-.03 3.1-.027 4.653-.002.63.01 1.048.37 1.29.967.84 2.063 1.867 4.026 3.155 5.844.343.484.694.969 1.192 1.309.55.378.97.253 1.23-.361.165-.39.236-.808.273-1.225.124-1.435.14-2.868-.076-4.297-.132-.892-.635-1.47-1.525-1.64-.454-.085-.387-.254-.167-.513C11.404.279 11.764 0 12.48 0h5.372c.846.167 1.034.547 1.149 1.398l.005 5.967c-.01.329.164 1.308.758 1.525.475.156.788-.224 1.073-.526 1.286-1.365 2.204-2.977 3.024-4.648.364-.735.677-1.497.98-2.26.225-.566.577-.844 1.214-.831l5.17.004c.154 0 .309.003.458.028.87.148 1.109.522.84 1.374-.423 1.334-1.25 2.446-2.055 3.564-.863 1.193-1.784 2.345-2.64 3.545-.785 1.096-.723 1.649.253 2.6" mask="url(#vk_)"/>
									</g>
								</svg>
							</a>
							<a href="#" class="social--link">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28" height="23" viewBox="0 0 28 23">
									<defs>
										<path id="twitter" d="M0 0h27.12v22.03H0z"/>
									</defs>
									<g fill="none" fill-rule="evenodd">
										<mask id="twitter_" fill="#fff">
											<use xlink:href="#twitter"/>
										</mask>
										<path fill="#FEFEFE" d="M27.12 2.607a11.12 11.12 0 0 1-3.193.876A5.585 5.585 0 0 0 26.372.407a11.208 11.208 0 0 1-3.535 1.35A5.547 5.547 0 0 0 18.776.002a5.564 5.564 0 0 0-5.42 6.83A15.798 15.798 0 0 1 1.89 1.017a5.52 5.52 0 0 0-.752 2.797c0 1.93.983 3.633 2.474 4.63a5.57 5.57 0 0 1-2.52-.698v.069a5.569 5.569 0 0 0 4.462 5.455 5.607 5.607 0 0 1-1.466.195c-.36 0-.707-.036-1.048-.103a5.569 5.569 0 0 0 5.197 3.864 11.166 11.166 0 0 1-6.91 2.377c-.45 0-.891-.026-1.327-.076a15.73 15.73 0 0 0 8.528 2.503c10.235 0 15.829-8.477 15.829-15.828l-.02-.721a11.087 11.087 0 0 0 2.784-2.874" mask="url(#twitter_)"/>
									</g>
								</svg>

							</a>
						</div>
					</div>
				</div>
			</div>
		</div>




<!--		MODALS-->




<!--		book modal-->

		<!-- Modal book thx -->
		<div class="modal fade modal-book" id="book_thx" tabindex="-1" role="dialog" aria-labelledby="book_thx" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="modal-book--header modal-book--header-light">
							<h2>Ваша заявка <br>
								принята</h2>
							<div class="modal-book--subtitle">
								В ближайшее время с  вами свяжется наш менеджер для подтверждения бронирования и уточнения деталей заказа. Информация о заявке будет отправлена на указанным вами электронный адрес.
							</div>
						</div>
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true"></span>
							</button>
						</div>
						<div class="modal-book--book">
							<div class="modal-book--thx">
								<div class="row">
									<div class="col-6">
										<div class="request--name">Былинкина Лена</div>
										<div class="request--text">all.swatch@yandex.ru</div>
										<div class="request--text">8 910 823356</div>
									</div>
									<div class="col-6">
										<div class="request--data"><span>Дата заезда:</span> 29.07.2019</div>
										<div class="request--data"><span>Дата отъезда:</span> 1.08.2019</div>
										<div class="request--data"><span>Количество гостей: </span> 1 взрослый, 1 ребенок </div>
										<div class="request--data"><span>Апартаменты:</span>  А2</div>
										<div class="request--text">Трансфер, парковка.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal book -->
		<div class="modal fade modal-book" id="book" tabindex="-1" role="dialog" aria-labelledby="book" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-body">

						<div class="modal-book--header">
							<h2>Онлайн- <br>
								бронирование</h2>
							<div class="modal-book--subtitle">
								Заполните всю необходимую информацию о вашем путешествии, и с вами свяжется наш менеджер для подтверждения бронирования и уточнения деталей заказа.
							</div>
						</div>
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true"></span>
							</button>
						</div>
						<div class="modal-book--book">
							<div class="row">
								<div class="col-12 ">
									<div class="modal-book--step">
										<span class="modal-book--step_number">01</span>
										<span>Выберите планируемый период пребывания и количество гостей.</span>
									</div>
								</div>
							</div>
							<div class="bookline bookline-modal">
								<div class="row justify-content-end">
									<div class="col">
										<div class="b-from">
											<p><a href="#" class="bookline--drop book-from">Дата заезда <span class="trg"></span></a></p>
											<input type='text' name="book-from" data-datepicker="" class="bookline--input bookpicker bookpicker-from-modal" value="09.07" />
										</div>
									</div>
									<div class="col">
										<div class="b-to">
											<p><a href="#" class="bookline--drop book-to">Дата выезда <span class="trg"></span></a></p>
											<input type='text' name="book-to" data-datepicker="" class="bookline--input bookpicker bookpicker-to-modal" value="12.07" />
										</div>
									</div>
									<div class="col">
										<div class="b-quest">
											<p><a href="#" class="bookline--drop book-quest">Количество<br> гостей <span class="trg"></span></a></p>
											<input type='text' name="book-quest" class="bookline--input bookpicker-quest-modal" value="1" />
										</div>
									</div>
									<div class="col">
										<div class="b-child">
											<p><a href="#" class="bookline--drop book-child">Количество<br>детей <span class="trg"></span></a></p>
											<input type='text' name="book-child" class="bookline--input bookpicker-child-modal" value="0" />
										</div>
									</div>
								</div>
							</div>

							<div class="modal-book--line"></div>

							<div class="row">
								<div class="col-12">
									<div class="modal-book--step">
										<span class="modal-book--step_number">02</span>
										<span>Выберите понравившиеся вам апартаменты.</span>
									</div>
								</div>
							</div>
							<div class="modal-book--slider-nav">
								<div class="modal-book--slider-prev"><img src="img/arrow--prev.svg"></div>
								<div class="modal-book--slider-next"><img src="img/arrow--next.svg"></div>
							</div>
							<div class="modal-book--slider">
								<div class="modal-book--slide">
									<a class="ap--name-top ap--link" href="#" data-toggle="modal" data-target="#apartment"><svg class="svg--info" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31"><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="14.5" cy="14.5" r="14.5" stroke="#B37931" stroke-linecap="round" stroke-linejoin="round"/><g class="svg--info-i" transform="translate(11 6)"><circle cx="3.333" cy="1.579" r="1" fill="#B37931"/><path stroke="#B37931" stroke-linecap="round" stroke-linejoin="round" d="M.778 6.342H3.5v9.474" opacity=".9"/><path stroke="#B37931" stroke-linecap="round" stroke-linejoin="round" d="M.224 16.21H6.61"/></g></g></svg></a>
									<div class="ap">
										<div class="ap--name">A1</div>
										<div class="ap--img"><img src="img/Group%202.jpg"></div>
										<a href="#" data-title="APARTMENT 01" class="ap--check"></a>
									</div>
								</div>
								//= ap--slider-item.html
								//= ap--slider-item.html
								//= ap--slider-item.html
								//= ap--slider-item.html
								//= ap--slider-item.html
								//= ap--slider-item.html
								//= ap--slider-item.html
							</div>

							<div class="modal-book--chooise">

							</div>

							<div class="modal-book--line"></div>

							<div class="row">
								<div class="col-12 ">
									<div class="modal-book--step">
										<span class="modal-book--step_number">03</span>
										<span>Выберите дополнительный услуги.</span>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-12">
									<div class="modal-book--check">
										<div class="checkbox--item">
											<input type="checkbox" class="checkbox" id="checkbox" />
											<label for="checkbox">Мне необходим трансфер от/до аэропорта.</label>
										</div>
										<div class="checkbox--item">
											<input type="checkbox" class="checkbox" id="checkbox1" />
											<label for="checkbox1">Мне необходимо парковочное место.</label>
										</div>
									</div>
								</div>
							</div>

							<div class="modal-book--line"></div>

							<div class="row">
								<div class="col-12 ">
									<div class="modal-book--step">
										<span class="modal-book--step_number">04</span>
										<span>Предоставьте контактную информацию для связи с вами.</span>
									</div>
								</div>
							</div>

							<div class="modal-book--form">
								<div class="row">
									<div class="col-lg-4 col-12">
										<div class="form-group">
											<input type="text" class="form-control">
											<span class="book--label">Имя</span>
										</div>
									</div>
									<div class="col-lg-4 col-12">
										<div class="form-group">
											<input type="text" class="form-control">
											<span class="book--label">Телефон</span>
										</div>
									</div>
									<div class="col-lg-4 col-12">
										<div class="form-group">
											<input type="text" class="form-control">
											<span class="book--label">E-mail</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										<button class="btn btn-white __js-book_thx">Забронировать</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>





		<!-- Modal -->
		<div class="modal fade" id="apartment" tabindex="-1" role="dialog" aria-labelledby="apartment" aria-hidden="true">
			<div class="modal-dialog modal-xxl" role="document">
				<div class="modal-content">
					<div class="modal-body">

						<div class="container-fluid">
							<div class="row">
								<div class="col-xl-7 col-lg-7 col-12 p0">
									<div class="modal-apartments--photo">
										<p class="apartments--name apartments--name-mobile"><a href="#" class="apartments--link">APARTMENT 08</a></p>
										<div class="modal-header modal-header-mobile">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true"></span>
											</button>
										</div>
										<div class="slider slider-for">
											<div>
												<img class="img-fluid" src="img/interior_01.png">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_02.jpg">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_03.jpg">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_04.jpg">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_05.jpg">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_06.jpg">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_07.jpg">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_08.jpg">
											</div>
										</div>
										<div class="slider--navigation">
											<div class="slider--navigation-prev"><img src="img/arrow--prev.svg"></div>
											<div class="slider--navigation-count"></div>
											<div class="slider--navigation-next"><img src="img/arrow--next.svg"></div>

										</div>
										<div class="slider slider-nav">
											<div>
												<img class="img-fluid" src="img/interior_01.png">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_02.jpg">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_03.jpg">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_04.jpg">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_05.jpg">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_06.jpg">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_07.jpg">
											</div>
											<div>
												<img class="img-fluid" src="img/interior_08.jpg">
											</div>
										</div>
									</div>

								</div>
								<div class="col-xl-5 col-lg-5 col-12 p0 modal-apartments--left">
									<div class="modal-apartments--info">
										<div class="modal-header modal-header-desctop">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true"></span>
											</button>
										</div>
										<p class="apartments--name apartments--name-desctop"><a href="#" class="apartments--link">APARTMENT 08</a></p>
										<div class="ap--icons">
											<div class="ap--icon">
												<div class="ap--im"><img src="img/room%20size.svg"></div>
												<p><span>28 м²</span></p>
											</div>
											<div class="ap--icon">
												<div class="ap--im"><img src="img/2%20beds.svg"></div>
												<p><span>2*90*200</span></p>
											</div>
											<div class="ap--icon">
												<div class="ap--im"><img src="img/Guest.svg"></div>
												<p><span>2</span></p>
											</div>
										</div>
										<div class="ap--price">от 14 643 RUB </div>
										<div class="apartments--descr">
											<p>Апартаменты с полностью оборудованной кухней, обеденной зоной, телевизором с плоским экраном и спутниковыми каналами, ванной комнатой с душем.</p>
										</div>
										<p><a href="#" class="btn btn-white btn-fluid">Забронировать</a></p>

										<section class="apartments--icons">
											<div class="container">
												<div class="row">
													<div class="col-12 p0">
														<h2>Услуги и удобства</h2>
													</div>
												</div>
												<div class="row">
													<div class="col-xl-6 col-12 p0">
														<div class="apartments--service">
															<div class="apartments--service-name">
																<span class="apartments--service-ico"><img src="img/home.svg"></span>
																Общие
															</div>
															<ul class="apartments--service-list">
																<li>Лифт</li>
																<li>Отопление</li>
																<li>Звукоизоляция</li>
																<li>Бесплатный wi-fi</li>
																<li>Балкон с видом на горы</li>
																<li>Терраса с мебелью</li>
																<li>Телевизор с плоским экраном</li>
																<li>Спутниковые каналы</li>
																<li>Шкаф или гардероб</li>
																<li>Постельное белье</li>
																<li>Вешалки для одежды</li>
																<li>Рабочий стол</li>
															</ul>
														</div>
														<div class="apartments--service ">
															<div class="apartments--service-name">
																<span class="apartments--service-ico"><img src="img/bath.svg"></span>
																Ванная комната
															</div>
															<ul class="apartments--service-list">
																<li>Душ</li>
																<li>Фен</li>
																<li>Бесплатные туалетные <br> принадлежности</li>
																<li>Туалет</li>
																<li>Полотенца</li>
																<li>Туалетная бумага</li>
															</ul>
														</div>
														<div class="apartments--service ">
															<div class="apartments--service-name">
																<span class="apartments--service-ico"><img src="img/transfer.svg"></span>
																Трансфер
															</div>
															<p>За дополнительную плату возможна организация трансфера от/до аэропорта</p>
														</div>
														<div class="apartments--service">
															<div class="apartments--service-name">
																<div class="apartments--service-ico"><img src="img/parking.svg"></div>
																Парковка
															</div>
															<p>Частная парковка на месте (требуется предварительный заказ)</p>
															<p><span class="per-rub">€ 13 / день</span></p>
														</div>


													</div>
													<div class="col-xl-6 col-12 p0">
														<div class="apartments--service">
															<div class="apartments--service-name">
																<span class="apartments--service-ico"><img src="img/kitchen.svg"></span>
																Кухня
															</div>
															<ul class="apartments--service-list">
																<li>Кофеварка/чайник</li>
																<li>Мини-кухня</li>
																<li>Холодильник</li>
																<li>Микроволновая печь</li>
																<li>Отопление</li>
																<li>Обеденный уголок</li>
																<li>Электрический чайник</li>
																<li>Кухонные принадлежности</li>
																<li>Плита</li>
																<li>Тостер</li>
																<li>Кофемашина</li>
																<li>Обеденная зона на улице</li>
															</ul>
														</div>
														<div class="apartments--service apartments--service-border">
															<div class="apartments--service-name">
																<div class="apartments--service-ico"><img src="img/invalid.svg"></div>
																Полностью подходит для гостей с ограниченными физическими возможностями
															</div>
														</div>
														<div class="apartments--service">
															<div class="apartments--service-name">
																<div class="apartments--service-ico"><img src="img/baby.svg"></div>
																Размещение детей
															</div>
															<p>Допускается размещение детей. Могут спать на имеющихся кроватях или на дополнительных по запросу. </p>
															<div class="apartments--dual">
																<div class="apartments--age">0 – 10 лет</div><div></div>
																<div class="per-rub">€ 10 / ночь</div>
															</div>
															<div class="apartments--dual">
																<div class="apartments--age">11 – 16 лет</div><div></div>
																<div class="per-rub">€ 15 / ночь</div>
															</div>
															<div class="apartments--dual">
																<div class="apartments--age">17 – 18 лет</div><div></div>
																<div class="per-rub">€ 20 / ночь</div>
															</div>
														</div>
													</div>

												</div>
											</div>
										</section>
									</div>
									<div class="modal-apartments--bookinfo">
										<div class="col-12 p0">
											<p>Не забудьте ознакомиться с нашими <br><a href="#">условиями размещения</a>.</p>
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>

				</div>
			</div>
		</div>

		<script src="js/vendor.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/masonry.min.js"></script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<script src="js/dranikss.min.js"></script>
	</body>
</html>