//= partials/header_dark.html

<section class="apartments box-block apartments-header">
    <div class="container">
        <div class="row">
            <div class="col p0">
                <h1>
                    Наши <br>
                    апартаменты
                </h1>
                <div class="apartments--ankors">
                    <a href="#gallery" class="apa--ankor mobile-only">Галерея</a>
                    <a href="#one" class="apa--ankor">Удобства и услуги</a>
                    <a href="#two" class="apa--ankor">Условия размещения</a>
                    <a href="#three" class="apa--ankor">Местоположение</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="apartments apartments-list box-block" id="gallery">
    <div class="container apartments-list-desktop">

        //= partials/ap-left.html

        //= partials/ap-right.html

        //= partials/ap-left.html

        //= partials/ap-right.html

        //= partials/ap-left.html

        //= partials/ap-right.html

        //= partials/ap-left.html

        //= partials/ap-right.html

    </div>

</section>

<section class="apartments--icons" id="one">
    <div class="container">
        <div class="row">
            <div class="col-12 p0 fadeIn wow delay-09s">
                <h2>Услуги и удобства</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-4 p0">
                <div class="apartments--service fadeIn wow delay-03s">
                    <div class="apartments--service-name">
                        <span class="apartments--service-ico"><img src="img/home.svg"></span>
                        Общие
                    </div>
                    <ul class="apartments--service-list">
                        <li>Лифт</li>
                        <li>Отопление</li>
                        <li>Звукоизоляция</li>
                        <li>Бесплатный wi-fi</li>
                        <li>Балкон с видом на горы</li>
                        <li>Терраса с мебелью</li>
                        <li>Телевизор с плоским экраном</li>
                        <li>Спутниковые каналы</li>
                        <li>Шкаф или гардероб</li>
                        <li>Постельное белье</li>
                        <li>Вешалки для одежды</li>
                        <li>Рабочий стол</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4  p0">
                <div class="apartments--service fadeIn wow delay-04s">
                    <div class="apartments--service-name">
                        <span class="apartments--service-ico"><img src="img/kitchen.svg"></span>
                        Кухня
                    </div>
                    <ul class="apartments--service-list">
                        <li>Кофеварка/чайник</li>
                        <li>Мини-кухня</li>
                        <li>Холодильник</li>
                        <li>Микроволновая печь</li>
                        <li>Отопление</li>
                        <li>Обеденный уголок</li>
                        <li>Электрический чайник</li>
                        <li>Кухонные принадлежности</li>
                        <li>Плита</li>
                        <li>Тостер</li>
                        <li>Кофемашина</li>
                        <li>Обеденная зона на улице</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4  p0">
                <div class="apartments--service fadeIn wow delay-05s">
                    <div class="apartments--service-name">
                        <span class="apartments--service-ico"><img src="img/bath.svg"></span>
                        Ванная комната
                    </div>
                    <ul class="apartments--service-list">
                        <li>Душ</li>
                        <li>Фен</li>
                        <li>Бесплатные туалетные <br> принадлежности</li>
                        <li>Туалет</li>
                        <li>Полотенца</li>
                        <li>Туалетная бумага</li>
                    </ul>
                </div>
                <div class="apartments--service apartments--service-border fadeIn wow delay-06s">
                    <div class="apartments--service-name">
                        <div class="apartments--service-ico"><img src="img/invalid.svg"></div>
                        Полностью подходит для гостей с ограниченными физическими возможностями
                    </div>
                </div>
            </div>

<!--            line-->
            <div class="col-sm-12 col-md-6 col-lg-4 p0">
                <div class="apartments--service fadeIn wow delay-03s">
                    <div class="apartments--service-name">
                        <span class="apartments--service-ico"><img src="img/transfer.svg"></span>
                        Трансфер
                    </div>
                    <p>За дополнительную плату возможна организация трансфера от/до аэропорта</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p0">
                <div class="apartments--service fadeIn wow delay-04s">
                    <div class="apartments--service-name">
                        <div class="apartments--service-ico"><img src="img/parking.svg"></div>
                        Парковка
                    </div>
                    <p>Частная парковка на месте (требуется предварительный заказ)</p>
                    <p><span class="per-rub">€ 13 / день</span></p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 p0">
                <div class="apartments--service fadeIn wow delay-05s">
                    <div class="apartments--service-name">
                        <div class="apartments--service-ico"><img src="img/baby.svg"></div>
                        Размещение детей
                    </div>
                    <p>Допускается размещение детей. Могут спать на имеющихся кроватях или на дополнительных по запросу. </p>
                    <div class="apartments--dual">
                        <div class="apartments--age">0 – 10 лет</div><div></div>
                        <div class="per-rub">€ 10 / ночь</div>
                    </div>
                    <div class="apartments--dual">
                        <div class="apartments--age">11 – 16 лет</div><div></div>
                        <div class="per-rub">€ 15 / ночь</div>
                    </div>
                    <div class="apartments--dual">
                        <div class="apartments--age">17 – 18 лет</div><div></div>
                        <div class="per-rub">€ 20 / ночь</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="apartments--icons apartments--icons-service" id="two">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p0 fadeIn wow delay-03s">
                <h2>Условия размещения</h2>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 p0 fadeIn wow delay-04s">
                <div class="apartments--timer">
                    <p><span>Время заезда:</span> 16:00 – 20:00</p>
                    <p><span>Время отъезда:</span> 9:00 – 11:00</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p0 fadeIn wow delay-03s">
                <div class="apartments--inform">
                    <p><span>Отмена бронирований:</span><br>в зависимости от варианта, который вы здесь бронируете, действуют разные правила отмены.</p>
                </div>
                <div class="apartments--inform">
                    <p><span>Предоплата:</span> правила предоплаты зависят от категории апартаментов.</p>
                </div>
                <div class="apartments--inform">
                    <p><span>Мы говорим на:</span> русском, английском, немецком.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p0 wow fadeIn delay-04s">
                <div class="apartments--inform">
                    <span>Способы оплаты:</span>
                    <ul class="apartments--service-list">
                        <li>Visa</li>
                        <li>Master Card</li>
                        <li>American Express</li>
                        <li>Оплата в местной <br>валюте по приезду</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p0 fadeIn wow delay-04s">
                <div class="apartments--inform"><div class="apartments--inform-icon"><img src="img/nosmoking.svg"></div>Курение запрещено.</div>
                <div class="apartments--inform"><div class="apartments--inform-icon"><img src="img/noparty.svg"></div>Нельзя проводить вечеринки/мероприятия.</div>
                <div class="apartments--inform"><div class="apartments--inform-icon"><img src="img/keepquiet.svg"></div>«Тихие часы» для гостей (когда нельзя шуметь): с 22:00 до 08:00.</div>
                <div class="apartments--inform"><div class="apartments--inform-icon"><img src="img/nopets.svg"></div>Размещение домашних животных не допускается.</div>
            </div>
        </div>
    </div>
</section>




//= partials/footer.html