//= partials/header_short.html

<section class="events box-block events-page">
    <div class="container">
        <div class="row">
            <div class="col p0">
                <h1 class="fadeIn wow delay-04s">
                    Самые интересные события и места <br>
                    Мюнхена
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 p0">
                <div class="event--list">
                    <!-- width of .grid-sizer used for columnWidth -->
                    <div class="event--item event--item-sm">
                        <p class="fadeIn wow delay-04s">Самые интересные места и события в Мюнхене, которые нельзя пропустить.</p>
                    </div>
                    <div class="event--item event--item-big fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%204.png"></figure></a>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Октобер-фест 2019: самое интересное</a>
                    </div>
                    <div class="event--item fadeIn wow">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%206.png"></figure></a>
                        <div class="event--date">12 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%206.png"></figure></a>
                        <div class="event--date">13 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%206.png"></figure></a>
                        <div class="event--date">14 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"> <figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%204.png"></figure></a>
                        <div class="event--date">15 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%204.png"></figure></a>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%204.png"></figure></a>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"> <figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%204.png"></figure></a>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"> <figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%206.png"></figure></a>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%204.png"></figure></a>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%206.png"></figure></a>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%206.png"></figure></a>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%206.png"></figure></a>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <a href="#" data-toggle="modal" data-target="#exampleModal"><figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%206.png"></figure></a>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade modal-events" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="modal-slider">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active"><figure class="figure"><img class="figure-img  rounded"  src="img/event_01.png"></figure></div>
                            <div class="carousel-item"><figure class="figure"><img class="figure-img  rounded" src="img/event_01.png"></figure></div>
                            <div class="carousel-item"><figure class="figure"><img class="figure-img  rounded" src="img/event_01.png"></figure></div>
                        </div>
                        <div class="modal-slider--navigation">
                            <a class="modal-slider--prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="img/arrow--prev.svg" ></a>
                            <a class="modal-slider--next" href="#carouselExampleControls" role="button" data-slide="next"><img src="img/arrow--next.svg" ></a>
                        </div>
                    </div>
                </div>

                <div class="modal-header modal-header-event">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                </div>

                <div class="modal-event">
                    <div class="container p0">
                        <div class="row">
                            <div class="col-xl-3 col-12">
                                <div class="modal-event--date">
                                    10–25 декабря 2019
                                </div>
                                <div class="modal-event--pin">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="63" height="88" viewBox="0 0 63 88">
                                        <path fill="#231F20" fill-rule="evenodd" d="M63 31.98C63 52.145 40.331 65.161 31.5 88 23.555 65.356 0 51.856 0 31.98 0 14.317 14.103 0 31.5 0S63 14.318 63 31.98zM19 32c0 7.18 5.596 13 12.5 13S44 39.18 44 32s-5.596-13-12.5-13S19 24.82 19 32z"/>
                                    </svg>
                                </div>
                                <div class="modal-event--addres">
                                    Willy-Brandt-Allee 14
                                    81829 München
                                </div>
                                <div class="modal-event--route">10 минут на такси от ваших апартаментов</div>
                            </div>
                            <div class="col-xl-8 col-12 offset-xl-1 offset-0 modal-event--text">
                                <h1 class="modal-event--header">Главная Рождественская ярмарка Мюнхена на Мариенплатц 2019</h1>
                                <p>Чем знамениты рождественские базары Мюнхена: развлечения, покупки, еда, напитки.</p>

                                <p>В первый день бургомистр открывает старейшую и самую посещаемую (около 3,5 млн человек ежегодно) рождественскую ярмарку Мюнхена — Christkindlmarkt. Она располагается на площади Мариенплатц. Ее можно посетить бесплатно с 10-30 до 21-00.</p>

                                <p>Открытие происходит феерично: в центре площади устанавливают 26-метровую елку. Каждая игрушка на ней выполнена вручную. Гости ярмарки в это время могут любоваться 3-мя тысячами огней, которые загораются после речи бургомистра. Он приветствует жителей и гостей Мюнхена и желает им счастливого отдыха. Завершает открытие главной мюнхенской ярмарки забег «Krampus Run». Это отрицательный персонаж в легенде о святом Николае, приходит, чтобы наказывать деток за непослушание. Каждый участник при этом должен быть одет в карнавальный костюм. Ну а 150 киосков с вкусностями и сувенирами позволяют с головой окунуться в предпраздничный шопинг.</p>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
</div>


//= partials/footer.html