//= partials/header.html

<div class="m-slider">

    <div class="_container">
        <div class="swiper-container">
            <div class="m-slider--navigation m-slider--navigation-mobile">
                <div class="container">
                    <img src="img/arrow--prev.svg" class="m-slider--prev">
                    <img src="img/arrow--next.svg" class="m-slider--next">
                </div>
            </div>
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="m-slider--slide">
                        <div class="m-slide--bg" data-src="img/main-slide-01.jpg"></div>
                        <div class="container">
                            <div class="row desctop-only">
                                <div class="col-xl-3 col-12 order-xl-0 order-12 wow fadeIn">
                                    <p>Аренда премиум-апартаментов в самом центре Мюнхена</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-9 col-12 order-xl-12 order-0 wow fadeIn delay-08s">
                                    <h3>Будь в центре событий Мюнхена</h3>
                                    <p class="mobile-only">Аренда премиум-апартаментов в самом центре Мюнхена</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="m-slider--slide">
                        <div class="m-slide--bg" data-src="img/main-slide-02.jpg"></div>
                        <div class="container">
                            <div class="row desctop-only">
                                <div class="col-xl-3 col-12 order-xl-0 order-12 wow fadeIn">
                                    <p>Аренда премиум-апартаментов в самом центре Мюнхена</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-9 col-12 order-xl-12 order-0 wow fadeIn delay-08s">
                                    <h3>Будь в центре событий Мюнхена</h3>
                                    <p class="mobile-only">Аренда премиум-апартаментов в самом центре Мюнхена</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="m-slider--slide">
                        <div class="m-slide--bg" data-src="img/main-slide-03.jpg"></div>
                        <div class="container">
                            <div class="row desctop-only">
                                <div class="col-xl-3 col-12 order-xl-0 order-12 wow fadeIn">
                                    <p>Аренда премиум-апартаментов в самом центре Мюнхена</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-9 col-12 order-xl-12 order-0 wow fadeIn delay-08s">
                                    <h3>Будь в центре событий Мюнхена</h3>
                                    <p class="mobile-only">Аренда премиум-апартаментов в самом центре Мюнхена</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="m-slider--navigation">
                <div class="container">
                    <img src="img/arrow--prev.svg" class="m-slider--prev">
                    <img src="img/arrow--next.svg" class="m-slider--next">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="bookline bookline-black">
    //= partials/book_line.html
</div>

<div class="bookline bookline-mobile bookline-mobile-black">
    <a href="#" class="btn btn-fill" data-toggle="modal" data-target="#book">Забронировать</a>
</div>


<section class="my-apartments box-block">
    <div class="container ">
        <div class="row">
            <div class="col p0">
                <h2 class="fadeIn wow delay-04s">Наши <br>апартаменты</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-12 p0 order-xl-0 order-12 my-apartments--about">
                <p class="fadeIn wow delay-05s">Уютные чистые квартиры расположены в самом центре Мюнхена недалеко от площади Карлсплатц. 500 метров метров от центрального ж/д вокзала Hauptbahnhof, в одной минуте ходьбы от станции метро Konigsplatz.</p>
            </div>
            <div class="col-xl-8 col-12 order-xl-12 order-0 my-apartments--booking">
                <figure class="figure">
                    <img src="img/booking.png" class="figure-img fadeIn delay-06s wow img-fluid rounded">
                    <div class="booking-rating">
                        <div class="booking-rating--number">8,6</div>
                        <div class="booking-rating--text">Booking.com <br><small>36 отзывов</small></div>
                    </div>
                </figure>
            </div>
        </div>
    </div>

    <div class="container p0">
        <div class="swiper-container apartaments">
            <div class="apartaments--navigation">
                <img src="img/arrow--prev.svg" class="m-slider--prev">
                <img src="img/arrow--next.svg" class="m-slider--next">
            </div>
            <div class="swiper-wrapper">
                <!-- If we need navigation buttons -->
                <div class="swiper-slide fadeIn wow delay-04s">
                    <div class="col">
                       <a href="#" class="ap">
                           <div class="ap--name">A1</div>
                           <div class="ap--img"><img src="img/Group%202.jpg"></div>
                           <div class="ap--icons">
                               <div class="ap--icon">
                                   <div class="ap--im"><img src="img/room%20size.svg"></div>
                                   <p><span>28 м²</span></p>
                               </div>
                               <div class="ap--icon">
                                   <div class="ap--im"><img src="img/2%20beds.svg"></div>
                                   <p><span>2*90*200</span></p>
                               </div>
                               <div class="ap--icon">
                                   <div class="ap--im"><img src="img/Guest.svg"></div>
                                   <p><span>2</span></p>
                               </div>
                           </div>
                           <div class="ap--price">от 14 643 RUB </div>
                       </a>
                    </div>
                </div>
                <div class="swiper-slide fadeIn wow delay-05s">
                    <div class="col">
                        <div class="ap">
                            <div class="ap--name">A2</div>
                            <div class="ap--img"><img src="img/Group%2010.jpg"></div>
                            <div class="ap--icons">
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/room%20size.svg"></div>
                                    <p><span>28 м²</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/2%20beds.svg"></div>
                                    <p><span>2*90*200</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/Guest.svg"></div>
                                    <p><span>2</span></p>
                                </div>
                            </div>
                            <div class="ap--price">от 14 643 RUB </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide fadeIn wow delay-06s">
                    <div class="col">
                        <div class="ap">
                            <div class="ap--name">A3</div>
                            <div class="ap--img"><img src="img/Group%2011.jpg"></div>
                            <div class="ap--icons">
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/room%20size.svg"></div>
                                    <p><span>28 м²</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/2%20beds.svg"></div>
                                    <p><span>2*90*200</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/Guest.svg"></div>
                                    <p><span>2</span></p>
                                </div>
                            </div>
                            <div class="ap--price">от 14 643 RUB </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col">
                        <div class="ap">
                            <div class="ap--name">A4</div>
                            <div class="ap--img"><img src="img/Group%202.jpg"></div>
                            <div class="ap--icons">
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/room%20size.svg"></div>
                                    <p><span>28 м²</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/2%20beds.svg"></div>
                                    <p><span>2*90*200</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/Guest.svg"></div>
                                    <p><span>2</span></p>
                                </div>
                            </div>
                            <div class="ap--price">от 14 643 RUB </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col">
                        <div class="ap">
                            <div class="ap--name">A5</div>
                            <div class="ap--img"><img src="img/Group%202.jpg"></div>
                            <div class="ap--icons">
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/room%20size.svg"></div>
                                    <p><span>28 м²</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/2%20beds.svg"></div>
                                    <p><span>2*90*200</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/Guest.svg"></div>
                                    <p><span>2</span></p>
                                </div>
                            </div>
                            <div class="ap--price">от 14 643 RUB </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col">
                        <div class="ap">
                            <div class="ap--name">A6</div>
                            <div class="ap--img"><img src="img/Group%202.jpg"></div>
                            <div class="ap--icons">
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/room%20size.svg"></div>
                                    <p><span>28 м²</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/2%20beds.svg"></div>
                                    <p><span>2*90*200</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/Guest.svg"></div>
                                    <p><span>2</span></p>
                                </div>
                            </div>
                            <div class="ap--price">от 14 643 RUB </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col">
                        <div class="ap">
                            <div class="ap--name">A7</div>
                            <div class="ap--img"><img src="img/Group%202.jpg"></div>
                            <div class="ap--icons">
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/room%20size.svg"></div>
                                    <p><span>28 м²</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/2%20beds.svg"></div>
                                    <p><span>2*90*200</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/Guest.svg"></div>
                                    <p><span>2</span></p>
                                </div>
                            </div>
                            <div class="ap--price">от 14 643 RUB </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col">
                        <div class="ap">
                            <div class="ap--name">A8</div>
                            <div class="ap--img"><img src="img/Group%202.jpg"></div>
                            <div class="ap--icons">
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/room%20size.svg"></div>
                                    <p><span>28 м²</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/2%20beds.svg"></div>
                                    <p><span>2*90*200</span></p>
                                </div>
                                <div class="ap--icon">
                                    <div class="ap--im"><img src="img/Guest.svg"></div>
                                    <p><span>2</span></p>
                                </div>
                            </div>
                            <div class="ap--price">от 14 643 RUB </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="container my-apartments--description">
        <div class="row">
            <div class="col-xl-5 col-12 order-xl-0 order-12 fadeIn wow delay-04s">
                <a href="apartments.html" class="btn">Все апартаменты</a>
            </div>
            <div class="col-xl-7 col-12 order-xl-12 order-0 fadeIn wow delay-06s">
                <p>Вы платите объекту размещения в местной валюте (€). Указанная сумма (в RUB) является ориентировочной и основана на действующем в момент бронирования курсе обмена валют.</p>
            </div>
        </div>
    </div>
</section>

<section class="events events-mainblock box-block">
    <div class="container">
        <div class="row">
            <div class="col p0">
                <h2 class="fadeIn wow delay-04s">Ближайшие <br>события</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 p0">
                <div class="event--list">
                    <!-- width of .grid-sizer used for columnWidth -->
                    <div class="event--item event--item-sm">
                        <p class="fadeIn wow delay-04s">Самые интересные места и события в Мюнхене, которые нельзя пропустить.</p>
                    </div>
                    <div class="event--item event--item-big fadeIn wow delay-04s">
                        <figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%204.png"></figure>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="" class="event--header">Октобер-фест 2019: самое интересное</a>
                    </div>
                    <div class="event--item fadeIn wow"><figure class="figure">
                        <img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%206.png"></figure>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%206.png"></figure>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%206.png"></figure>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                    <div class="event--item fadeIn wow delay-04s">
                        <figure class="figure"><img class="figure-img fadeIn wow img-fluid rounded" src="img/Group%204.png"></figure>
                        <div class="event--date">11 сентября – 16 ноября</div>
                        <a href="" class="event--header">Рождественские ярмарки в Мюнхене</a>
                    </div>
                </div>
                <div class="event--all">
                    <a href="events.html" class="btn">Все события</a>
                </div>
            </div>
        </div>
    </div>
</section>




//= partials/footer.html